#linha_tempo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 10px;
  overflow-x: auto;
  background-color: #f1f6ec;
  scroll-behavior: smooth;
}

.etapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.etapa img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #325022;
  transition: transform 0.3s;
}

.etapa span {
  margin-top: 5px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #325022;
}

.etapa img:hover {
  transform: scale(1.1);
}

/* Desktop */
@media (min-width: 768px) {
  #linha_tempo {
    gap: 30px;
    padding: 30px;
  }

  .etapa img {
    width: 80px;
    height: 80px;
  }

  .etapa span {
    font-size: 16px;
  }
}
