* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body{
    margin: 0 0 0 0;
    background-color: #bbd4ae;
}
header{
    width: 100%;
    height: 100px;
    background-color: #325022;
    display: flex;
}

#titulo{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#link_titulo{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: left;
    align-items: end;
    padding: 10;
}

header h1{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    color: #fff7e4;
    text-shadow: 4px 3px 4px #031a01;
}

header p {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff7e4;
    text-shadow: 3px 3px 4px #000000;
}

.links{
    font-size: 15px;
    font-weight: 200;
    text-decoration: underline;
}